@import "tailwindcss";

:root {
  --bg: #0a0b10;
  --fg: #ffffff;
  --muted: #9aa0aa;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background: radial-gradient(
      1000px 600px at 10% -10%,
      rgba(124, 58, 237, 0.12),
      transparent 60%
    ),
    radial-gradient(
      800px 400px at 100% 10%,
      rgba(56, 189, 248, 0.1),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at 50% 120%,
      rgba(52, 211, 153, 0.1),
      transparent 60%
    ),
    #0a0b10;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
::selection {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}
